# Dependency directories
node_modules/
.npm
.tmp

# Build outputs
dist/

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS related
.DS_Store
Thumbs.db 